@import "tailwindcss";

html {
	font-family: "Poppins", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Arial,
		"Noto Sans", "Liberation Sans", sans-serif;
	scroll-behavior: smooth;
	scroll-padding-top: 4rem;
}
